<div class="bottom-nav-content bg-primary-color text-secondary-color d-flex flex-row justify-content-between">
    <div class="communications px-2 p-sm-4">
        <h4>Nous joindre</h4>
        <i class="fa-brands fa-tiktok fa-xl p-2"></i>
        <i class="fa-brands fa-instagram fa-xl p-2"></i>
        <i class="fa-brands fa-facebook-f fa-xl p-2"></i>
        <i class="fa-brands fa-facebook-messenger fa-xl p-2"></i>
        <i class="fa-brands fa-x-twitter fa-xl p-2"></i>
        <i class="fa-regular fa-envelope fa-xl p-2"></i>
        <i class="fa-brands fa-square-whatsapp fa-xl p-2"></i>
    </div>
    <div id="donate" class="donate px-2 p-sm-4">
        <h4>Donation</h4>
        <i class="fa-brands fa-paypal fa-2xl"></i>
    </div>
    <div id="go-top" class="go-top">
        <a href="#header" class="text-primary-color go-top" title="Retourner au haut de la page.">
            <i class="fa-solid fa-circle-arrow-up bg-secondary-color  go-top"></i>
        </a>
    </div> 
</div>