.bottom-nav-content {
    /* position: absolute; */
    /* top: 1900px; */
    margin-top: 3%;
    width: 100%;
    height: 115px;
}

.icon_communications {
    min-width: 300px;
    min-height: 64px;
}

.go-top {
        position: fixed;
        bottom: 10%;
        right: 5%;
        text-align: center;
        vertical-align: center;
        z-index: 1000;
        font-size: 32px;
        border-radius: 20px;
}

@media (min-width: 576px) { 
    .go-top {
        right: 1%;
    } 
}