body {
    color: #1E4F20;
}

div > h1 {
    margin-top: 10%;
    justify-content: center;
    text-align: center;
    text-align: center;
}

section {
    /* margin-top: 5%; */
    border-bottom: solid 1px #1E4F20;
    padding: 2%;
}

.img-span {
    display: flex;
    justify-content: center;
}

.img_div {
    max-width: 250px;
}

@media (min-width: 576px) { 
    .img-span {
        display: flex;
        align-items: center;
    }
}