<div id="header" class="d-flex flex-column">
    <img src="../../assets/images/header_img.webp" class="img-fluid" alt="https://www.freepik.com/free-photo/beautiful-scenery-green-tree-forest-cloudy-sky_9185373.htm#query=congo%20forest&position=12&from_view=search&track=ais&uuid=93833c6d-4b47-4dbd-9045-a37cc9ad9ed9 Image by wirestock on Freepik">
    <div class="header_content bg-secondary-color text-primary-color p-2">
        <h1>Qui sommes-nous?</h1>
        <p>Nous sommes une ong oeuvrant dans le domaine forestier et aide à la communauté.</p>
    </div>
</div>

