

@media (min-width: 576px) {
    .header_content {
        position:relative;
        left:0;
        max-width: 100%;
        /* top: 20%; */
    }
}

@media (min-width: 768px) {
    .header_content {
        position:relative;
        /* left:3%; */
        max-width: 100%;
    }
}

@media (min-width: 992px) {
    .header_content {
        position: absolute;
        left: 3%;
        top: 22%;
        max-width: 35%;
    }
}

@media (min-width: 1100px) and (max-width: 1200px) {
    .header_content {
        position: absolute;
        left: 3%;
        /* top: 18%; */
        max-width: 35%;
    }    
}

@media (min-width: 1200px) {
    .header_content {
        position: absolute;
        left: 3%;
        /* top: 20%; */
        max-width: 35%;
    }    
}

@media (min-width: 1300px) and (max-width: 1400px) {
    .header_content {
        position: absolute;
        left: 3%;
        /* top: 24%; */
        max-width: 35%;
    }   
}

@media (min-width: 1400px) {
    .header_content {
        position: absolute;
        left: 3%;
        /* top: 26%; */
        max-width: 35%;
    }   
}

@media (min-width: 1500px) {
    .header_content {
        position: absolute;
        left: 3%;
        /* top: 30%; */
        max-width: 35%;
    }   
}

@media (min-width: 1700px) {
    .header_content {
        position: absolute;
        left: 3%;
        /* top: 35%; */
        max-width: 35%;
    }   
}